.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.image {
  margin-left: 20px;
  width: 200px;
}

.buttonsContainer {
  display: flex;
  flex-wrap: nowrap;
}

.navbarContainer button {
  background: none !important;
  border: none;
  margin-right: 20px;
  padding: 0 !important;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.navbarContainer button::before,
button::after {
  outline: none;
}

.navbarContainer button:hover,
button:focus,
button:active {
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  text-decoration: none;
  color: #fb4d4f;
  outline: 0 !important;
}
