.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.image {
  margin-left: 20px;
  width: 200px;
}

.buttonsContainer {
  display: flex;
  flex-wrap: nowrap;
}

.navbarContainer button {
  border: none;
  background-color: #ffffff;
  margin-right: 20px;
}
