.speech-recognition-container div {
  margin-bottom: 15px;
}

.exercise-container {
  display: flex;
}
.speech-recognition-title {
  font: Bold 85px/103px Helvetica Neue;
  text-align: left;
}

.speech-reco-text-container {
  flex: 3;
}

.speech-reco-points-container {
  flex: 2;
}

.speech-reco-points-title {
  font: Bold 46px/56px Helvetica Neue;
}

.speech-reco-points {
  font: Bold 156px/191px Helvetica Neue;
}

.speech-reco-points-container button {
  border: none;
  background-color: white;
  height: 40px;
  font: Regular 16px/24px Helvetica Neue;
}
