.loginBox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin: auto;
  width: 40%;
  min-height: 416px;
  background-color: #FEC901;
  position: "absolute";
}
a {
  text-decoration: none !important;
 }

.login{
  height: calc(100vh - 120px);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-content: center;
}


.input-box{
  display: flex;
  flex-direction: column;
  min-height: 160px;
  justify-content: space-between;

}
.input-container{

  padding: 0 16px;
}
.input-container > span{
  display: block;
  text-align: start;
}

.input-container > input{
  min-width: 100%;
  border-radius: 4px;
  border: 1px solid #DDDDDD;
  min-height: 35px;
}

.button-container {
  margin-bottom: 10px;
}

.button-container > button {
  border-radius: 4px;

}

.btn-close {
  background-color: #FFFFFF;
  color: #373A3C;
  border: 1px solid #DDDDDD;
  margin-right: 10px;
}

.btn-enter{
  background-color: #1C7CD5;
  color: #FFFFFF;
  border: 0px;
}



.loginContainer{
  min-height: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.loginContainer > .head {
  display: flex;
  justify-content: space-between;
}
.head{
  margin: 13px
}
.head > .close {
  font-size: 16px;
}

