:root {
  --navbar-height: 120px;
  --yellow: #ffca01;
}

body {
  margin: 0;
  font-family: "OpenDyslexic Regular", sans-serif;
}

@font-face {
  font-family: 'OpenDyslexic Regular';
  font-style: normal;
  font-weight: normal;
  src: local('OpenDyslexic Regular'), url('fonts/OpenDyslexic/OpenDyslexic-Regular.woff') format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  max-width: 100%;
}

input[type='radio'] {
  visibility: hidden;
}
